.page-subtitle {
    font-size: 25px;
}

.active {
    height: 0;
    margin-bottom: 40px;
}

.inactive {
    background-color: var(--secondary);
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 0;
    border: 2px solid var(--secondary);
    box-shadow: var(--box-shadow);
    width: 40%;
    margin-bottom: 40px;
}

.inactive:hover {
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
    font-size: small;
    text-decoration: none;
    
}

.cta:hover {
    font-size: small;
}

img.icon {
    height: 40px;
  }

img.icon:hover {
    background-color: var(--secondary);
    border-radius: 50%;
}

.contact-links-container {
    align-items: flex-start;
}
  