#home-page-container {
    background-color: var(--secondary);
    color: var(--logo-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 750px) {
      height: min(800px, 95vh);
      justify-content: flex-start;
      width: 100%;
      
  }
}

#home-page-image-container {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 750px) {
      height: 60%;
    }
    
}

#home-logo {
  @media only screen and (max-width: 750px) {
    height: 300px;
  }
}

#home-page-subtitle {
  width: 70%;
}

/* .typing-effect {
    overflow: hidden;
    animation: typing 5s steps(100, end);
  }
  

  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  } */