#home-page-container {
    background-color: var(--secondary);
    color: var(--logo-text-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#home-page-image-container {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .typing-effect {
    overflow: hidden;
    animation: typing 5s steps(100, end);
  }
  

  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  } */