#equipment-page-content {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.package-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--secondary);
    color: var(--primary);
    width: 500px;
    height: 500px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.package-container > * {
    text-align: left;
    width: 75%;
}

.package-name {
    padding: 20px;
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid;
}




