
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: var(--secondary);
    margin-top: 2%;
    border-bottom: 10px solid var(--primary);
    z-index: 0;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 25px 25px 0 0;
    font-size: small;
}

.active-nav-links {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 25px 25px 0 0;
}

.active-nav-links > a {
    color: var(--secondary);
    font-size: larger;
}

a > img {
    height: 300px;
}

a {
    color: var(--primary);
    padding: 0;
    text-decoration: none;
}

a:hover {
    font-size: larger;
}