#work-page-content {
    height: 100%;
    padding-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: flex-start;
}

.work-example-container {
    height: auto;
    width: auto;
}

iframe {
    box-shadow: var(--box-shadow);
}



