.footer-container {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(255, 255, 255);
    color: rgb(68, 88, 70);
    font-size: small;
    z-index: 0;
    border-top: 10px solid rgb(68, 88, 70);
}

.footer-container > div {
    width: 100%;
}

.footer-container > a {
    padding: 0;
    color: rgb(68, 88, 70);
}

#designer-link {
    font-size: x-small;
    padding-top: 10px;
}

#designer-link:hover {
    text-decoration: underline;
}
